build:vs2019 --cxxopt='/std:c++17' --cxxopt='/WX'
build:vs2019-asan --cxxopt='/std:c++17' --cxxopt='/WX' --cxxopt='/fsanitize=address' -c dbg
build:vs2019-prod --cxxopt='/std:c++17' -c opt

build:gcc --cxxopt='-std=c++17' --cxxopt='-Werror'
build:gcc-prod --cxxopt='-std=c++17' -c opt
